/*
1. General
2. Navbar
3. Footer
4. Home Page
5. Error Page
6. Default Page
7. Modal
*/


/*
--------------------------------------------------------------------
1. General
--------------------------------------------------------------------
*/
body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;

}
html,body{
    margin:0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span{
    cursor: default;
}
a{
    color: inherit;
    cursor: pointer;
}
a:hover{
    text-decoration: none !important;
}
.row {
    margin: 0;
}
body.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 6em;
}



/*
--------------------------------------------------------------------
2. Navbar
--------------------------------------------------------------------
*/
@media screen and (max-width: 767px){
    .navbar-fixed-top {
        background: white;
        box-shadow: 0 0 5px 0px #aaa;
    }
}
@media screen and (min-width: 768px) {
    .navbar-fixed-top {
        background: transparent;
    }
    .navbar-fixed-top.scrolled {
        box-shadow: 0 0 5px 0px #aaa;
        background-color: white;
    }
}
@media screen and (min-width: 768px) {
    .navbar-header {
        height: 62px;
        display: flex;
        align-items: center;
    }
}
.navbar-brand{
    font-size: 2em;
    padding: 15px 0px 0 40px;
}
@media screen and (max-width: 767px) {
    .navbar-brand {
        padding-left: 15px;
    }
}
.navbar-brand span{
    font-weight: 700;
}

.navbar-nav>li>a {
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 8px;
    transition: .3s;
}
.navbar-nav>li.current-menu-item>a {
    color: red;
    text-decoration: underline !important;
    text-underline-position: under;
}
.navbar-nav>li:last-child>a {
    border: 1px solid red;
    color: red;
    text-transform: unset;
    margin-left: 10px;
}
@media screen and (max-width: 768px) {
    .navbar-nav>li:last-child>a {
        width: calc(100% - 30px);
    }
}
.nav>li>a:focus,
.nav>li>a:hover {
    color: red;
    background: transparent;
}
@media screen and (min-width: 768px){
    .navbar-right {
        margin-right: 0;
    }
}
.navbar-toggle {
    border-color: red;
}
.navbar-toggle .icon-bar {
    background: red;
}
@media screen and (min-width: 768px) {
    .navbar-right {
        padding-left: 0px;
        padding-right: 40px;
    }
}


/*
--------------------------------------------------------------------
3. Footer
--------------------------------------------------------------------
*/
.footer {
    background: #004067;
    padding: 40px 0;
    color: white;
}
.footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 25px;
}
.footer .title p:nth-of-type(1){
    font-size: 1.5em;
}
.footer .title p span{
    font-weight: 800;
}
.footer .social-icons span:nth-of-type(1) {
    margin-right: 35px;
    position: relative;
}
.footer .social-icons span:nth-of-type(1)::after {
    content: "";
    width: 25px;
    height: 2px;
    background: white;
    position: absolute;
    right: -33px;
    top: 50%;
    transform: translateY(-50%);
}
.footer .social-icons {
    text-align: right;
}
.footer .social-icons img{
    display: inline-block;
    height: 25px;
    margin: 0 5px;
}
@media screen and (max-width: 767px) {
    .footer .row .col-xs-12 {
        text-align: center;
    }
}


/*
--------------------------------------------------------------------
4. Home Page
--------------------------------------------------------------------
*/
.banner{
    padding: 60px 0 30px;
    background: linear-gradient(#fff, #EFFBFF);
    display: flex;
    align-items: center;
    min-height: 100vh;
}
@media screen and (max-width: 767px) {
    .banner {
        padding-top: 90px;
    }
}
.banner .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.banner .row .content span {
    display: block;
}
.banner .row .content h1 {
    font-size: 1em;
    color: #004067;
}
.banner .row .content h1 span:nth-of-type(1) {
    font-size: 2.5em;
    margin: 0 0 10px;
    font-weight: 800;
    line-height: 1em;
}
.banner .row .content h1 span:nth-of-type(2) {
    font-size: 2em;
    margin: -5px 0 10px;
    font-weight: 600;
}
.banner .row .content h1 ~ span {
    font-size: 1.2em;
    margin: 0 0 40px;
    font-weight: 500;
    color: #004067;
}
.banner .row .content .buttons button,
.banner .row .content .buttons a {
    border: 1px solid;
    padding: 8px 16px;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
    outline: 0;
    display: inline-block;
}
.banner .row .content .buttons a {
    background: red;
    color: white;
    border-color: red;
}
.banner .row .content .buttons button {
    background: transparent;
    border-color: black;
    color: black;
    margin-left: 20px;
}
@media screen and (max-width: 400px) {
    .banner .row .content .buttons button {
        margin-left: 0;
        margin-top: 15px;
        display: block;
    }
}
.banner .row .content .buttons button:hover {
    background: red;
    color: white;
    border-color: red;
}
.banner .row .content .buttons button .glyphicon {
    font-size: 12px;
    margin-left: 4px;
    display: inline-block;
}
.banner .row .image img:nth-of-type(1) {
    position: absolute;
    width: 100%;
    top: 10%;
    transform: translateY(-10%);
    left: 0;
}
.banner .row .image img:nth-of-type(2) {
    position: relative;
    height: 550px;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    object-fit: contain;
}

.why-us{
    margin-top: 30px;
    padding: 30px 0 0;
    position: relative;
    z-index: 1;
}
.why-us .header {
    position: relative;
    top: 25px;
    left: 0;
    width: 100%;
    margin-bottom: -70px;
}
.why-us .header .subheading {
    text-align: center;
    font-size: 1.1em;
    margin: 0;
    font-weight: 500;
    display: block;
    color: #004067;
}
.why-us .header .heading {
    font-size: 2.5em;
    text-align: center;
    font-weight: 700;
    margin: 5px 0 25px;
    color: #004067;
}
.why-us .row {
    display: flex;
    flex-wrap: wrap;
    transform: translateY(100px) translateX(-50%);
    box-shadow: 0 2px 5px 1px #ddd;
    left: 50%;
    padding: 30px 10px;
    position: relative;
    width: 100%;
    max-width: 90%;
    background: white;
}
.why-us .row .col-xs-12 {
    padding: 20px 15px;
    display: flex;
    align-items: center;
}
.why-us .row .col-xs-12 img{
    height: 70px;
    margin-right: 20px;
}
.why-us .row .col-xs-12 .title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 5px;
}
.why-us .row .col-xs-12 .description {
    font-size: 1em;
}

.how-we-help{
    margin: -60px 0 270px;
    padding: 25px 0 0;
    position: relative;
    background: #EFFBFF;
}
@media screen and (max-width: 768px) {
    .how-we-help {
        margin: -170px 0 365px;
        padding: 20px 0 0;
    }
}
.how-we-help .container {
    transform: translateY(210px);
}
@media screen and (max-width: 768px) {
    .how-we-help .container {
        transform: translateY(320px);
    }
}
.how-we-help .header .subheading {
    text-align: center;
    font-size: 1.1em;
    margin: 0;
    font-weight: 500;
    display: block;
    color: #004067;
}
.how-we-help .header .heading {
    font-size: 2.5em;
    text-align: center;
    font-weight: 700;
    margin: 5px 0 25px;
    color: #004067;
}
.how-we-help .row {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: white;
    padding: 30px 10px;
    box-shadow: 0 2px 5px 1px #ddd;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}
.how-we-help .row .image img{
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    height: 100%;
    object-fit: contain;
}
.how-we-help .row .content ul{
    padding: 0;
    list-style: none;
}
.how-we-help .row .content ul li {
    padding: 10px 0 10px 30px;
    position: relative;
}
.how-we-help .row .content ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 35%;
    height: 0;
    width: 0;
    border: 6px solid #23A2F6;
    border-radius: 50%;
    transform: translateY(-35%);
}
.how-we-help .row .content ul li .heading {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
}
.how-we-help .row .content ul li .content {
    margin: 0;
    font-weight: 500;
}

.contact-us {
    text-align: center;
    margin-bottom: 50px;
}
.contact-us .container {
    display: flex;
    flex-direction: column;
}
.contact-us .title {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;
    color: #004067;
}
.contact-us .content {
    text-align: center;
    margin: 5px 0 30px;
    font-size: 1.1em;
    font-weight: 500;
    display: block;
    color: #004067;
}
.contact-us textarea {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 0 auto 15px;
    border: 1px solid #999;
    box-shadow: none !important;
}
.contact-us .button-div {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 0 auto 10px;
}
.contact-us .button-div input {
    width: calc(100% - 100px);
    display: inline-block;
    margin: 0;
    border-radius: 4px 0 0 4px;
    border: 1px solid #999;
    border-right: 0;
    height: auto;
    padding: 10px 12px;
    box-shadow: none !important;
    transition: .3s ease;
}
.contact-us .button-div input.submitted {
    width: 0;
    border: 0;
    padding: 0;
}
.contact-us .button-div button {
    margin: 0;
    width: 100px;
    float: right;
    border-radius: 0 4px 4px 0;
    background: red;
    color: white;
    padding: 10px 12px;
    font-weight: 700;
    transition: .3s;
}
.contact-us .button-div button.submitted {
    border-radius: 4px;
    width: 100%;
}


/*
--------------------------------------------------------------------
5. Error Page
--------------------------------------------------------------------
*/
.page-404 {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*
--------------------------------------------------------------------
6. Default Page
--------------------------------------------------------------------
*/
.page {
    padding: 1em;
}



/*
--------------------------------------------------------------------
7. Modal
--------------------------------------------------------------------
*/
.modal {
    justify-content: center;
    align-items: center;
}
.modal-open .modal {
    display: flex !important;
}
.modal-dialog {
    width: 100%;
    max-width: 600px;
}
.modal-body {
    margin: -20px 0;
}
.modal input {
    margin: 20px 0;
}
.modal .btn {
    border: 1px solid red;
    color: red;
    transition: .4s;
    background: white;
}
.modal .btn:hover {
    background: red;
    color: white;
}